@import '_variables';

@each $key, $value in $themes {
		&.#{$key} {
			$default-theme: map-get($value, color);

			#create-new-task {
				.row-form {
					margin: 0 0 15px;
					min-height: 40px;
					width: 100%;

					&.create-category {
						display: none;

						&.active {
							display: block;
						}
					}

					.column-form {
						width: 49%;
						position: relative;

						.field-name {
							font-size: 13px;
							font-weight: bold;
							color: $default-theme;
							display: block;
							position: absolute;
							top: 13px;
							left: 50px;
						}

						.field-form {
							width: 100%;
							height: 40px;
							padding: 5px 10px 5px 50px;
							font-size: 12px;
							color: $default-theme;
							border: 1px solid $default-theme;

							&.row-icon {
								border: 0;
								height: 39px;
								padding: 15px 10px 15px 50px;
								cursor: pointer;

								&:hover {
									background-color: lighten($default-theme, 30%);

									.icon {
										background-color: darken($default-theme, 10%);
									}
								}
							}
						}

						.icon {
							@include centerXY;
							background-color: $default-theme;
							width: 40px;
							height: 39px;
							color: $white;
							position: absolute;
							left: 0;
							top: 0;

							i {
								display: inline-block;
								margin: 0 auto;
							}
						}

						.create-category {
							display: inline-block;
							margin: 5px 0 0;
							font-size: 12px;
							color: $default-theme;
							float: right;
							clear: both;

							&:hover {
								text-decoration: none;
							}
						}

					} //.column-form

				} //.row-form

				.create-task {
					background-color: darken($default-theme, 5%);
      		border: 1px solid darken($default-theme, 15%);
      		padding: 10px 15px;
      		color: $white;
					font-size: 13px;
					font-weight: bold;
					text-transform: uppercase;
      		cursor: pointer;
      		float: right;
      		border-radius: 5px;

					&:hover {
						background-color: darken($default-theme, 15%);
					}
				}

				#create-new-category {
					width: 100%;
					position: relative;

					.indicator {
						color: $default-theme;
						position: absolute;
						right: 10px;
						top: 14px;
					}

					.icon-list {
						width: 100%;
						border: 1px solid $default-theme;
						position: absolute;
						left: 0;
						top: 40px;
						z-index: 10;
						background-color: $white;
						height: 0;
						overflow: hidden;
						opacity: 0;

						&.active {
							height: 120px;
							opacity: 1;
							overflow-y: auto;
						}
					}

				} //#create-new-category

			} //#create-new-task

		} //@each - theme

	} //@each
