@import '_reset';
@import '_variables';

body {
	@each $key, $value in $themes {
		&.#{$key} {
			$default-theme: map-get($value, color);

			.row-tasks {
				.title-subject-task {
					font-weight: bold;
					font-size: 16px;
					color: darken($default-theme, 5%);
					margin: 0 0 15px;
				}

				.task-box {
					width: 49.5%;
					margin: 0 0 15px;
					border: 1px solid darken($default-theme, 5%);

					.top-task {
						background-color: darken($default-theme, 5%);
						height: 40px;
						padding: 0 15px;

						.title-task {
							font-weight: bold;
							font-size: 14px;
							color: $white;
							line-height: 40px;
							float: left;
						}

						.button-details {
							background-color: darken($default-theme, 10%);
							border: 1px solid darken($default-theme, 15%);
							padding: 5px 10px;
							float: right;
							margin: 5px 0 0;
							color: $white;
							cursor: pointer;
							border-radius: 5px;

							&:hover {
								background-color: darken($default-theme, 15%);
							}
						}

					} //.top-task

					.content-task {
						height: 0;

						&.active {
							height: 155px;
							padding: 15px 15px 0;
						}

						.box-info-task {
							width: 48.5%;
							margin: 0 0 15px;
							font-size: 13px;
							line-height: 16px;
							color: $gray;

							.title-description {
								font-weight: bold;
								font-size: 14px;
								color: darken($default-theme, 5%);
								margin: 0 0 10px;
								display: block;
							}

							.text-description {
								border: 1px solid darken($default-theme, 5%);
								padding: 10px;
								height: 100px;
								overflow-y: auto;
							}

							.text-info-time {
								b {
									font-weight: bold;
								}
							}

						} //.box-info-task

					} //.content-task

				} //.task-box

			} //.row-tasks

		} //@each - theme

	} //@each

} //body.default-theme
